@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
    min-height: 100%;
}

body {
    height: 100%;
    font-family: Open Sans, Lora, serif;
    font-size: 12px;
    line-height: 1.4;
    background: linear-gradient(to bottom right,
                                #024d75,#516781,#526980);
}

#content {
    color: #565656;
    background: #FFF;
    width: 482px;
    max-width: 80%;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 20px;
    border-radius: 5px;
    padding: 20px 30px;
    box-shadow: 11px 11px 20px -5px  rgba(0,0,0,0.4);
}

h1 { /* Title */
    color: #241C3E;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 150%;
    border-bottom: 3px solid #EDEDEC;
    padding-bottom: 20px;
}

#org-div-home-and-up {
    text-align: center;
    font-size: 100%;
    padding-top: 10px;
    text-transform: lowercase;
}

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    color: #62be69;
}

img {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 15px;
    width: 70%;
    border-radius: 3px;
}

table, td, th {
    padding: 3px;
    margin: auto;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: steelblue;
    border-width: 2px;
}

table {
    box-shadow: 1px 1px 20px -5px  rgba(0,0,0,0.4);
}

ol, ul {
    padding: 0;
    margin-left: 15px;
}

li {
    padding: 2px;
}
