@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
    min-height: 100%
}

body {
    font-family: Open Sans, Lora, serif;
    font-size: 12px;
    line-height: 1.4;
    background: linear-gradient(to bottom right,
                                #024d75,#516781,#526980);
                                /* rgba(251,250,246,1), */
                                /* rgba(212,206,191,1)); */
}

#content {
    color: #565656;
    background: #FFF;
    width: 482px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    border-radius: 5px;
    padding: 20px 30px;
    box-shadow: 11px 11px 20px -5px  rgba(0,0,0,0.4);
}

h1 { /* Title */
    color: #241C3E;
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 150%;
    border-bottom: 3px solid #EDEDEC;
    padding-bottom: 20px;
}

#org-div-home-and-up {
    text-align: center;
    font-size: 100%;
    padding-top: 10px;
    text-transform: lowercase;
}

a {
    color: steelblue;
    text-decoration: none;
}

a:hover {
    text-shadow: 2px 2px 2px lightgrey;
}
