#filterInput {
    width: 40%;
    text-align: left;
    font-size: 110%;
    padding: 4px;
    margin: 0;
    border: none;
    border-bottom: 2px solid lightgrey;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 4px;
}
